@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: Norse-Bold;
    src: url("./fonts/Norse-Bold.otf");
}

body {
    margin: 0px;
    font-family: "Inter";
}

div {
    /* border: 2px solid red; */
}

.container {
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 100%;
    background-image: url("./images/background.jpg");
    background-size: 100%;
    flex: 2;
    position: relative;
}


.banner {
    position: absolute;
    width: 100%;
    top: 25%;
    color: white;
    background-color: rgba(1, 1, 1, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    --banner-size: 8rem;
    overflow: hidden;
}

.odin-text {
    font-size: var(--banner-size);
    font-family: "Norse-Bold";
}

.logo>img {
    height: var(--banner-size);
    width: auto;
}

.author {
    position: absolute;
    width: 100%;
    bottom: 2%;
    color: white;
    text-align: center;
    overflow: hidden;

}

.author>a {
    color: white;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.main>* {
    padding-left: 2rem;
}

.message {
    flex: 1;
    display: flex;
    background-color: #ececec;
}

.message-wrapper {
    line-height: 1.8rem;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 2rem;
}

.signup-form {
    height: 100%;
    flex: 1.2 1.2 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    height: 100%;
    gap: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.signup-form>.hype-message {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.signup-form>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    flex: 1 1 0;
    gap: 2rem;
    /* border: 1px solid green; */
    /* margin-bottom: 2rem; */
}



.it {
    font-style: italic;
}

.field {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    color: #3f3f3f;
    font-weight: 500;
    font-size: 1rem;
}

label.match {
    visibility: hidden;
    text-transform: none;
    color: rgb(224, 27, 27);
    font-size: 0.8rem;
}

input {
    font-size: 1.3rem;
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: #d0d0d0;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #0d5782;
}

input:invalid {
    border-color: #c71919;
}

.buttons {
    margin-top: 2rem;
    background-color: #F9FAFB;
    flex: 1;
    
}
.buttons > div {
    margin-top: 2rem;
}

.create-account {
    background-color: #0d5782;
    color: #ececec;
    font-size: 1.2rem;
    font-weight: 700;
    border-style: solid;
    border-radius: 12px;
    box-shadow: none;
    padding: 12px;
    padding-left:  2rem;
    padding-right: 2rem;

}

.buttons .link {
    color: #0d5782;
}